* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
}

//navbar//
.nav-container {
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  padding-bottom: 20px;
  top: 0;
}

.left-side,
.right-side {
  list-style-type: none;
  padding: 10px 10px;
  height: 50px;
  display: flex;
}
.left-side li,
.right-side li {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 5px;
}
.logo {
  position: relative;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 5px 5px;
  vertical-align: middle;
  .imagenLogo {
    object-fit: contain;
    width: auto;
    max-width: 100%;
  }
}

.container-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
}
.campoBusqueda {
  display: flex;
  justify-content: space-between;
}
.inputbusqueda {
  display: flex;
  border: 0;
  width: 350px;
  height: 30px;
  left: 0px;
  border-color: transparent;
}
button {
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 40px;
  border: 1xp solid white;
  background-color: white;
  border-radius: 10xp;
  color: black;
}

.login a:link,
a:visited,
a:active {
  text-decoration: none;
}
.createAccount {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 145px;
  height: 40px;
  border: 1px solid rgb(57, 73, 223);
  border-radius: 10px;
  text-decoration: none;
  color: rgb(57, 73, 223);
}
.createAccount a:link,
a:visited,
a:active {
  text-decoration: none;
}

//hovers//
.createAccount:hover {
  background-color: rgb(57, 73, 223);
}
.login:hover {
  background-color: rgb(235, 236, 253);
  border-radius: 10px;
}
button svg {
  height: 30px;
  width: 30px;
}
button svg:hover {
  background-color: rgb(235, 236, 253);
  height: 30px;
  width: 35px;
  border-radius: 10px;
}

.containerMiddle {
  width: 90%;
  /* centramos usando margenes laterales */
  margin: 0 auto;
}

.cajaFlex {
  display: flex;
  flex-direction: column;
}

.articulo {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 20px 0;
}

.mainContainer {
  margin-top: 45px;
  padding: 10px;
  height: 89vh;
  /* position: relative; */
  /* top: 55px; */
}

.hotTopics {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px;
  margin: 0 auto;
  box-sizing: border-box;
  span {
    text-align: left;
    margin: 0px 0px;
    margin-left: 0px;
    padding: 10px;
    color: black;
  }
}
.hotTopics a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  font-size: large;
}
.relevant a {
  font-weight: 700;
}
.latest a {
  font-weight: lighter;
}
.contenedorImagen {
  width: 90%;
  padding: 10px;
}

.imagenArticle {
  width: 100%;
  border-radius: 10px;
}

.contenedorAuthor span {
  color: #cdc9c9;
}

.contenedorTitulo {
  padding: 8px;
}
@media screen and (min-width: 600px) {
  .cajaFlex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .articulo {
    width: 45%;
    margin: 10px 10px;
  }
}
