* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
}

//navbar//
.nav-container {
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  padding-bottom: 20px;
  top: 0;
}

.left-sideNav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  .left-sideNav li {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }
}
.right-sideNav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  .right-sideNav li {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
.logo {
  position: relative;
  width: 50px;
  height: 40px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-top: 5px 5px;
  .imagenLogo {
    object-fit: contain;
    width: auto;
    max-width: 100%;
  }
}

.container-busqueda {
  display: flex;
  flex: 1 auto auto;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  min-width: none;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
}
.campoBusqueda {
  display: flex;
  justify-content: space-between;
}
.inputbusqueda {
  display: flex;
  justify-content: flex-start;
  border: 0;
  width: 100%;
  height: 30px;
  left: 0px;
  border-color: transparent;
}
button {
  display: flex;
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 40px;
  border-radius: 10xp;
  color: black;
}

.login a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
.createAccount {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-items: center;
  margin-left: 10px;
  max-width: 145px;
  height: 40px;
  border: 1px solid rgb(57, 73, 223);
  border-radius: 10px;
  text-decoration: none;
  color: rgb(57, 73, 223);
}
.createAccount a:link,
a:visited,
a:active {
  text-decoration: none;
}

//hovers navbar//
.createAccount:hover {
  background-color: rgb(57, 73, 223);
}
.login:hover {
  background-color: rgb(235, 236, 253);
  border-radius: 10px;
}
button svg {
  height: 30px;
  width: 30px;
}
button svg:hover {
  background-color: rgb(235, 236, 253);
  height: 30px;
  width: 35px;
  border-radius: 10px;
}
//flexPadre//
.flexPadre {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  .cajaFlexIzquierda {
    display: flexbox;
    margin-left: 20px;
  }
  .containerMiddle {
    display: flexbox;
  }
}

//seccion izquierda
.cajaFlexIzquierda {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 150px;
  justify-content: flex-start;
  text-align: left;
  align-content: center;
  justify-content: left;
  margin-top: 45px;
  padding: 10px;
  height: 89vh;
  .login .izquierda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 40px;
    border-radius: 10xp;
    color: black;
  }
}
.tarjetaLeft {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.leftBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  .directorylinks {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: left;
    margin-left: 0px;
    .other {
      font-weight: bolder;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: left;
      margin-left: 0px;
    }
    a {
      margin-left: 0px;
    }
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: black;
      font-size: large;
    }
    a:hover {
      background-color: rgb(235, 236, 253);
      border-radius: 10px;
      width: max-content;
    }
  }
}

.mainContainer {
  display: flexbox;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  padding: 10px;
  height: 89vh;
  margin: 0 auto;
  .cajaFlex {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    .articulo {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin: 20px 0;
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;
      border-bottom-left-radius: 2%;
      border-bottom-right-radius: 2%;
    }
  }
}

.contenedorHotTopics {
  max-width: 45%;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  height: 60px;
  justify-content: flex-start;
}
.hotTopics {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  text-align: left;
  margin: 10px;
  .relevant,
  .latest,
  .top {
    display: flex;
    align-items: center;
    margin-left: 20px;
    max-height: 80%;
  }
}
.hotTopics a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  font-size: large;
}
.relevant a {
  font-weight: 700;
}
.latest a {
  font-weight: lighter;
}
.contenedorImagen {
  width: 100%;
  padding: 0px;
}

.imagenArticle {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contenedorFlexAuthor {
  display: flex;
  flex-flow: flex wrap;
  justify-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px;
  left: 0;
  color: #cdc9c9;
  width: 90%;
}
.contenedorIcon {
  height: 30px;
  width: 30px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  .iconAuthor {
    object-fit: contain;
    border-radius: 50%;
    width: auto;
    max-width: 100%;
  }
}
.contenedorAuthor {
  flex: 1;
  margin-left: 10px;
}
.contenedorFlexTitulo {
  display: flex;
  flex-flow: flex wrap;
  padding: 10px 0px;
  flex-flow: column;
  max-width: 100%;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  a {
    margin-left: 10px;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;
    font-size: large;
  }
  .tagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 10px;
    margin-left: 0px;
    justify-content: space-between;
    a {
      margin-left: 0;
      height: 30px;
      font-size: medium;
      font-weight: lighter;
    }
  }
}
//hover middle section//

.hotTopics a:hover {
  background-color: white;
  color: rgb(57, 73, 223);
  border: 1px solid white;
  border-radius: 10%;
}

.programming:hover {
  border: 1px solid rgb(213, 170, 170);
  background-color: rgb(243, 230, 230);
  border-radius: 10px;
}
.beginners:hover {
  border: 1px solid rgb(166, 211, 183);
  background-color: rgb(229, 242, 234);
  border-radius: 10px;
}
.carrer:hover {
  border: 1px solid rgb(179, 179, 208);
  background-color: rgb(233, 233, 239);
  border-radius: 10px;
}
.productivity:hover {
  border: 1px solid rgb(57, 73, 223);
  background-color: rgb(233, 233, 244);
  border-radius: 10px;
}
.webdev:hover {
  border: 1px solid rgb(197, 177, 200);
  background-color: rgb(238, 233, 239);
  border-radius: 10px;
}
.javascript:hover {
  border: 1px solid rgb(241, 245, 175);
  background-color: rgb(254, 252, 232);
  border-radius: 10px;
}
.tutorial:hover {
  border: 1px solid rgb(255, 255, 246);
  background-color: rgb(254, 252, 232);
  border-radius: 10px;
}
.security:hover {
  border: 1px solid rgb(175, 228, 211);
  background-color: rgb(232, 247, 242);
  border-radius: 10px;
}
.rbac:hover {
  background-color: rgb(235, 236, 253);
  border: 1px solid rgb(57, 73, 223);
  border-radius: 10px;
}

.admissioncontrol:hover {
  background-color: rgb(235, 236, 253);
  border: 1px solid rgb(57, 73, 223);
  border-radius: 10px;
}
.networkpolicies:hover {
  background-color: rgb(235, 236, 253);
  border: 1px solid rgb(57, 73, 223);
  border-radius: 10px;
}

//interacciones tarjeta
.contenedorFlexInteractions {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  height: 50px;
  justify-content: center;
  .reactions {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    align-items: center;
    justify-content: flex-end;
    .emojis {
      display: flex;
      flex-direction: row-reverse;
    }
    a {
      display: flex;
      flex: 1 1 auto;
    }
    .contenedorComments {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      align-items: center;
      padding-left: 0px;
      img {
        display: flex;
        flex: 1 1 auto;
        flex-basis: content;
        padding-left: 10px;
      }
      a {
        display: flex;
        flex-basis: content;
        flex: 1 1 auto;
        padding-left: 0px;
      }
    }
    .contenedorBookmark {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0;
      padding-left: 10px;
      span {
        display: flex;
        padding-left: 20px;
      }
      button {
        direction: flex;
        align-items: center;
        justify-items: center;
        justify-content: flex-end;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .flexPadre {
    display: flex;
    flex-direction: row;
    .mainContainer {
      display: flexbox;
      max-width: 80%;
      justify-content: center;
      margin: 45px 40px;
      margin: 45px;
    }
    .cajaFlexIzquierda {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .flexPadre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0px;
    .cajaFlexIzquierda {
      display: flexbox;
      max-width: 30%;
      flex: 1 1 auto;
      margin-left: 20px;
    }
    .mainContainer {
      display: flexbox;
      max-width: 40%;
      flex: 4 1 auto;
      justify-content: center;
      align-content: center;
    }
  }
}
